{# templates/member/carte.html.twig #}
{% extends 'base2.html.twig' %}


{% block leaflet %}
	<!-- JS for leaflet CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
{% endblock %}


{% block title %}PProject5 - Carte
{% endblock %}

{% block content %}

	<div id="container">
		<div class="row">

			<div class="col-sm">
				<div class="card">
					<div class="card-header">
						<svg width="1em" height="1em" viewbox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						</svg>
						Carte
					</div>
					<div class="card-body2">
						<div id="mapid"></div>
					</div>

				</div>
			</div>

		</div>
	</div>

{% endblock %}


{% block script %}
	<script src="{{ asset('assets/js/map.js')}}"></script>
{% endblock %}
