{# templates/member/mail.html.twig #}
{% extends 'base2.html.twig' %}

{% block title %}PProject5 - Mail{% endblock %}

    {% block content %}

<div id="container">
    <div class="row">

    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-envelope"></i>
                Email
            </div>
            <div class="card-body">
                {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        
        <input type="submit" value="Send" class="btn btn-success" />
        
        {{ form_end(our_form) }}
        </div>
    </div>
</div>

    </div>
</div>


{% endblock %}
